$footerTextGrey: #DCDBDB;
$footerTextBlack: #353030;
$primaryTextBlue: #4B54FA;
$secondaryTextBlue: #006CD1;
$primaryTextWhite: #FFFFFF;
$secondaryTextWhite: #FEFEFF;
$primaryTextGrey: #8D8D8D;
$primaryTextBlack: #1A1A1B;
$secondaryTextBlack: #303134;

$footerBackgroundBlack: #141418;
$primaryBackgroundGrey: #65656533;
$primatyBackgroundGrey: #F0F3F4;
$secondaryBackgroundWhite: #F4F4F4;
$primaryBackgroundYellow: #FED701;

$primaryGradient_Blue_Green: linear-gradient(355deg, #08AEEA, #2AF598);
$primaryGradient_Yellow_Green: linear-gradient(355deg, #e69b00, #00563F);
$primaryGradient_White_Blue: linear-gradient(355deg, white, #08AEEA);

$secondaryGradient_lightGrey_Black_DarkGrey: linear-gradient(white, $primaryBackgroundGrey, #303030, #000000);