@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

$fontBoldPrimary: 'Raleway', sans-serif;
$fontBoldSecondary: 'Lato', sans-serif;
$fontRegular: 'Roboto', sans-serif;

$fontSizeS: 0.875rem;
$fontSizeM: 1rem;
$fontSizeSM: 1.125rem;
$fontSizeXM: 1.3125rem;
$fontSizeL: 1.625rem;
$fontSizeXL: 2.125rem;
$fontSizeXXL: 2.5rem;
$ExtraLargeSauce: 4.93rem;